@model Despegar.Entity.Reserva

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Reserva</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CuartoId" class="control-label"></label>
                <input asp-for="CuartoId" class="form-control" />
                <span asp-validation-for="CuartoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaReserva" class="control-label"></label>
                <input asp-for="FechaReserva" class="form-control" />
                <span asp-validation-for="FechaReserva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiasReserva" class="control-label"></label>
                <input asp-for="DiasReserva" class="form-control" />
                <span asp-validation-for="DiasReserva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadPersonas" class="control-label"></label>
                <input asp-for="CantidadPersonas" class="form-control" />
                <span asp-validation-for="CantidadPersonas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" class ="form-control" asp-items="ViewBag.ClienteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdentificacionCliente" class="control-label"></label>
                <input asp-for="IdentificacionCliente" class="form-control" />
                <span asp-validation-for="IdentificacionCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hotel" class="control-label"></label>
                <input asp-for="Hotel" class="form-control" />
                <span asp-validation-for="Hotel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReservaId" class="control-label"></label>
                <input asp-for="ReservaId" class="form-control" />
                <span asp-validation-for="ReservaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPago" class="control-label"></label>
                <input asp-for="TotalPago" class="form-control" />
                <span asp-validation-for="TotalPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaVencimiento" class="control-label"></label>
                <input asp-for="FechaVencimiento" class="form-control" />
                <span asp-validation-for="FechaVencimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CVC" class="control-label"></label>
                <input asp-for="CVC" class="form-control" />
                <span asp-validation-for="CVC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
